<%include ./partials/header %>
<div class="ui main text container" id="posts">
  <div class="ui huge header">
    <h1 class="index-title">Welcome to the FrontPage</h1>
  </div>
  <div class="ui top attached segment">
    <div class="ui divided items">

      <% blogs.forEach((blog)=>{ %>
        <div class="BlogPost item">
          <!-- <h2><li><blog.title %></li></h2> -->
          <div class = "image"><img src="<%= blog.image %>" alt=""></div>
          <div class="content">
            <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
            <div class="meta">
              <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
              <p><i><%- blog.body.substring(0,100) %>....</i></p>
            </div>
            <div class="extra">
              <a href="/blogs/<%= blog._id %>" class="ui floated violet button">
                Read More <i class="right chevron icon"></i></a>
              <a href="/blogs/<%= blog._id %>/edit" class="ui floated yellow button">Edit Post</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>



  <%include ./partials/footer %>
